/*------------------------------
common
------------------------------*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
}

footer p {
  font-size: 10px;
}
