/*------------------------------
common
------------------------------*/
body {
  color: #082b48;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 90%;
  max-width: 900px;
  text-align: center;
  margin: auto;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 100%;
}

/*------------------------------
header
------------------------------*/
header {
  line-height: 30px;
  padding: 20px 0;
}

.header-left {
  float: left;
  font-size: 25px;
}

.header-right {
  float: right;
}

.header-item {
  float: left;
  margin-left: 40px;
}

.header-list:hover {
  opacity: 0.7;
}

/*------------------------------
top
------------------------------*/
.top {
  background-image: url(../img/main-vsual-nontitle.png);
  background-size: cover;
  letter-spacing: 2px;
  padding: 80px 0;
}

.top-title {
  font-size: 50px;
  margin-bottom: 20px;
  line-height: 70px;
}

.top-message {
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  font-weight: normal;
}

/*------------------------------
about
------------------------------*/
.about-title {
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 30px;
}

.about-item {
  display: flex;
  justify-content: space-between;
}

.about-item img {
  width: 49%;
  height: auto;
}

.about-item p {
  width: 49%;
  text-align: left;
  line-height: 22px;
  letter-spacing: 2px;
}

/*------------------------------
course
------------------------------*/
.course {
  background-color: #e3fcf4;
  margin-top: 40px;
  padding: 40px 0 90px;
}
.course-title {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 30px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.course-item {
  width: 30%;
}

.course-item p {
  margin-top: 10px;
}

/*------------------------------
contact
------------------------------*/
.contact {
  padding-bottom: 20px;
}
.contact-title {
  padding-top: 70px;
  padding-bottom: 20px;
  font-size: 30px;
}
.contact-message {
  padding-bottom: 20px;
}

input[type="email"] {
  width: 80%;
  border-radius: 999px;
  border: 3px solid #d8d8d8;
  padding: 20px;
  margin: auto;
  font-size: 15px;
}

.start {
  background-color: #ec6d64;
  border-radius: 5px;
  padding: 20px 50px;
  display: block;
  margin: 20px auto 40px;
  font-size: 25px;
  color: white;
  border: 1px solid black;
}

.start:hover {
  opacity: 0.7;
  cursor: pointer;
}
/*------------------------------
footer
------------------------------*/
footer {
  background-color: #082b48;
  color: white;
  padding: 25px 0;
}
.copyright {
  float: right;
  font-size: 12px;
}

/*------------------------------
responsive
------------------------------*/
@media only screen and (max-width: 767px) {
  /*------------------------------
  common
  ------------------------------*/
  .clear::after {
    content: none;
  }

  /*------------------------------
  header
  ------------------------------*/
  .header-left {
    float: none;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .header-right {
    float: none;
    width: 100%;
    font-size: 15px;
  }

  .header-list {
    display: flex;
    justify-content: space-between;
  }

  .header-item {
    float: none;
    margin: 0;
  }

  /*------------------------------
  top
  ------------------------------*/
  .top {
    padding: 100px 0;
  }

  .top-title {
    font-size: 30px;
    line-height: 45px;
  }

  .top-message {
    font-size: 13px;
    line-height: 25px;
  }

  /*------------------------------
  about
  ------------------------------*/
  .about-title {
    padding-bottom: 20px;
    font-size: 25px;
  }

  .about-item {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .about-item img {
    width: 100%;
  }

  .about-item p {
    margin-top: 10px;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
  }

  /*------------------------------
  course
  ------------------------------*/
  .course-title {
    font-size: 25px;
  }

  .course-list {
    flex-direction: column;
  }

  .course-item {
    width: 100%;
    margin-bottom: 10px;
  }

  /*------------------------------
  contact
  ------------------------------*/
  .contact-title {
    font-size: 25px;
  }

  input[type="email"] {
    width: 100%;
    padding: 15px;
  }

  /*------------------------------
  footer
  ------------------------------*/
  .copyright {
    float: none;
    font-size: 10px;
  }
}
